{% extends "layout.html" %}

{% block head %}
    <style>
    .conditional {
        display:none;
    }
    </style>
    <script>
        $(document).ready(function () {
            $("input[name=scoring]").on("change", function () {
                $(".conditional").hide();
                var test = $(this).val();
                if (test == "xscape") {
                    $(".conditional").show();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row row-padded bg-success" role="alert">
        <h2>Submission and Format:</h2>

        <p>Please upload a file. Files should be submitted in <samp>.newick</samp> form. When entering species
            names, please avoid using quotation marks and/or unnecessary whitespace.</p>

        <form enctype="multipart/form-data" action="/reconcile" method="post">
            <div class="form-group">
                <label for="newick">File input</label>
                <input type="file" id="newick" name="newick">

                <p class="help-block">Select a newick file to upload.</p>
            </div>
            <p>Please enter costs for the events. Also, remember that all weights are strictly
                positive (nonzero).

            <p>

            <div class="form-group">
                <label for="dup">Duplication</label>
                <input type="text" class="form-control" id="dup" name="dup" placeholder="Default: 2">
            </div>
            <div class="form-group">
                <label for="trans">Transfer</label>
                <input type="text" class="form-control" id="trans" name="trans" placeholder="Default: 3">
            </div>
            <div class="form-group">
                <label for="loss">Loss</label>
                <input type="text" class="form-control" id="loss" name="loss" placeholder="Default: 1">
            </div>

            <p>Which scoring function would you like to use?<br></p>

            <div class="radio">
                <label>
                    <input type="radio" name="scoring" value="Frequency">
                    Frequency scoring
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="scoring" value="xscape">
                    Xscape scoring
                </label>
            </div>
            <fieldset class="conditional">
                <h5>Inputs for Xscape scoring:</h5>

                <div class="form-group">
                    <label for="trans">Switch low value</label>
                    <input type="text" class="form-control" id="switchlow" name="switchlow" placeholder="Default: 1.5">
                </div>
                <div class="form-group">
                    <label for="trans">Switch high value</label>
                    <input type="text" class="form-control" id="switchhigh" name="switchhigh"
                           placeholder="Default: 4.5">
                </div>
                <div class="form-group">
                    <label for="trans">Loss low value</label>
                    <input type="text" class="form-control" id="losslow" name="losslow" placeholder="Default: 1">
                </div>
                <div class="form-group">
                    <label for="trans">Loss high value</label>
                    <input type="text" class="form-control" id="losshigh" name="losshigh" placeholder="Default: 3">
                </div>
            </fieldset>
            <div class="radio disabled">
                <label>
                    <input type="radio" name="scoring" value="unit" checked>
                    Unit scoring
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>

        </form>
    </div>
{% endblock %}